nav{
    background-color: #000000;
    padding: 10px 70px;
    color: #FDEBF7;
    /* text-shadow: 1px 3px 6px #626262; */
}

.logo{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Fjalla One', sans-serif;
}