.row{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

input{
    width: 60%;
}

.heading{
    margin-bottom: 25px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}